@import "../_variables";

.navbar {
  width: 27%;
  display: none;
  > *:nth-child(n+2) {
    margin-top: 35px;
  }

  @include mq(lg) {
    display: block;
    padding-top: 30px;
  }
}

.navbar__logo {
  display: block;
  width: 75%;
  margin: 0 auto;
}