@import "../_variables";

.navbar {
  width: 100%;
  padding: 0 30px;
  margin-top: 60px;
  box-sizing: border-box;

  > *:nth-child(n+2) {
    margin-top: 20px;
  }

  @include mq(lg) {
    width: 27%;
    margin: 0;
    padding: 30px 0 0 0;

    > *:nth-child(n+2) {
      margin-top: 35px;
    }
  }
}

.navbar__logo {
  display: block;
  width: 45%;
  margin: 0 auto;

  @include mq(lg) {
    width: 75%;
  }
}