@import "../_variables";

.post-head {
  padding: 16px;
  box-shadow: $shadow;

  @include mq(lg) {
    border-radius: 0 0 25px 25px;
  }
}

.post-head__date {
  font-size: 14px;
  color: $text-w;
}

.post-head__title {
  margin: 0;
  font-size: 28px;
  line-height: 37px;
  font-weight: bold;
  color: $text;
}
